<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no”/> 
		<title>MiniLy-UI</title>
		<link href="css/main.css" rel="stylesheet" type="text/css" /> 
		<link rel="icon" href="img/fav.ico" >
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div class="container" id="app">
			<div class="big-title">
				<p class="big">MiniLy-UI 使用文档</p>
				<p class="small">By @LanYue</p>
				<!-- <p class="update">@update: 2020/6/18 上午10:20:19</p> -->
				<p class="update">@update: 2020/6/28 下午17:20:19</p>
			</div>
			
			<div v-for="(item,index) in tableList" :key='index'>
				<div class="component-name">{{ item.name.split('Attributes')[0]}} <span class="name-bg">< {{ item.name.split('Attributes')[1] }} ></{{></span> </div>
				<table border="0" class="ly-table">
					<tr>
						<th>参数</th>
						<th>说明</th>
						<th>类型</th>
						<th>可选值</th>
						<th>默认值</th>
					</tr>
					<tr v-for="(child,index) in item.childList" :key='index'>
						<td>{{ child.query }}</td>
						<td>{{ child.info }}</td>
						<td>{{ child.type }}</td>
						<td>{{ child.choose }}</td>
						<td>{{ child.default }}</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
	<script>
		var app = new Vue({
			el: '#app',
			data(){
				return{
					nowDate: new Date().toLocaleString(),
					tableList:[
						{
							name: 'LyInput Attributes 输入框',
							childList: [
								{ query: 'type', info: '类型', type: 'string', choose: '原生支持的type值', default: 'text' },
								{ query: 'v-model', info: '绑定值', type: 'string / number', choose: '--', default: '--' },
								{ query: 'placeholder', info: '输入框占位文本', type: 'string', choose: '--', default: '--' },
								{ query: 'maxlength', info: '最大输入长度', type: 'number', choose: '--', default: '--' },
								{ query: 'minlength', info: '最小输入长度', type: 'number', choose: '--', default: '--' },
								{ query: 'with', info: '输入框长度', type: 'string', choose: '任意长度', default: '弹性自适应' },
								{ query: 'disabled', info: '禁用', type: 'boolean', choose: '--', default: 'false' },
								{ query: 'clearable', info: '是否可清空	', type: 'boolean', choose: '--', default: 'false' },
								{ query: 'show-password', info: '是否显示切换密码图标	', type: 'boolean', choose: '--', default: 'false' },
								{ query: 'size', info: '输入框尺寸', type: 'string', choose: 'mini / small / medium', default: 'false' },
								{ query: 'before-icon', info: '输入框头部追加 icon', type: 'string', choose: '详细见 icon 图标', default: '--' },
								{ query: 'after-icon', info: '输入框末尾追加 icon', type: 'string', choose: '详细见 icon 图标', default: '--' },
							]
						},
						
						{
							name: 'LyBotton Attributes 按钮',
							childList: [
								{ query: 'type', info: '类型', type: 'string', choose: 'text / info / primary / warn / danger / success', default: 'info' },
								{ query: 'size', info: '尺寸', type: 'string', choose: 'mini / small / medium', default: '--' },
								{ query: 'disabled', info: '是否禁用状态', type: 'boolean', choose: '--', default: 'false' },
								{ query: 'loading', info: '是否加载中状态', type: 'boolean', choose: '--', default: 'false' },
								{ query: 'round', info: '是否圆角按钮', type: 'boolean', choose: '--', default: 'false' },
							]
						},
						
						{
							name: 'LySelect Attributes 下拉框',
							childList: [
								{ query: 'v-model', info: '绑定值', type: 'string / number', choose: '--', default: '--' },
								{ query: 'placeholder', info: '占位符', type: 'string', choose: '--', default: '请选择' },
								{ query: 'width', info: '选择器长度', type: 'string', choose: '任意长度', default: '弹性自适应' },
								{ query: 'size', info: '尺寸', type: 'string', choose: 'mini / small / medium / large', default: '--' },
								{ query: 'disabled', info: '是否禁用状态', type: 'boolean', choose: '--', default: 'false' },
							]
						},
						
						{
							name: 'LyRadio Attributes 单选框',
							childList: [
								{ query: 'v-model', info: '绑定值', type: 'string / number', choose: '--', default: '--' },
								{ query: 'label', info: 'radio 的 value 值', type: 'string / number', choose: '--', default: '--' },
								{ query: 'disabled', info: '是否禁用状态', type: 'boolean', choose: '--', default: 'false' },
							]
						},
						
						{
							name: 'LyCheckBox Attributes 复选框',
							childList: [
								{ query: 'v-model', info: '绑定值', type: 'string / number', choose: '--', default: '--' },
								{ query: 'disabled', info: '是否禁用状态', type: 'boolean', choose: '--', default: 'false' },
							]
						},
						
						{
							name: 'LySwitch Attributes switch 开关',
							childList: [
								{ query: 'v-model', info: '是否开启开关', type: 'boolean', choose: '--', default: 'true' },
								{ query: 'active-color', info: 'switch 开启时的颜色背景', type: 'string', choose: '自定义颜色即可', default: '#5095fb' },
								{ query: 'active-text', info: 'switch 开启时的文字描述', type: 'string', choose: '自定义即可', default: '--' },
								{ query: 'untive-color', info: 'switch 关闭时的颜色背景', type: 'string', choose: '自定义颜色即可', default: '--' },
								{ query: 'untive-text', info: 'switch 关闭时的文字描述', type: 'string', choose: '自定义即可', default: '--' },
								{ query: 'disabled', info: '是否禁用状态', type: 'boolean', choose: '--', default: 'false' },
							]
						},
						
						{
							name: 'LyTimePicker Attributes 时间选择器',
							childList: [
								{ query: 'v-model', info: '绑定的选中值', type: 'string', choose: '--', default: '--' },
								{ query: 'picker-options', info: '下拉列表中的数据', type: 'object', choose: '--', default: '--' },
								{ query: 'disabled', info: '是否禁用状态', type: 'boolean', choose: '--', default: 'false' },
								{ query: 'clearable', info: '是否可清空选中的值', type: 'boolean', choose: '--', default: 'false' },
							]
						},
						
						{
							name: 'LyPopConfirm Attributes 气泡确认框',
							childList: [
								{ query: 'confirmText', info: '左侧按钮的文本内容', type: 'string', choose: '--', default: '确认' },
								{ query: 'confirmType', info: '左侧按钮的类型', type: 'string', choose: 'text / info / primary / warn / danger / success', default: 'primary' },
								{ query: 'cancelText', info: '右侧按钮的文本内容', type: 'string', choose: '--', default: '取消' },
								{ query: 'cancelType', info: '右侧按钮的类型', type: 'string', choose: 'text / info / primary / warn / danger / success', default: 'text' },
								{ query: 'title', info: '提示内容', type: 'string', choose: '--', default: '--' },
								{ query: '@onConfirm', info: '左侧按钮的点击事件', type: 'method', choose: '--', default: '--' },
								{ query: '@onCancel', info: '右侧按钮的点击事件', type: 'method', choose: '--', default: '--' },
							]
						},
						
						{
							name: 'LyPopOver Attributes Popover 弹出框',
							childList: [
								{ query: 'title', info: '顶部的提示语信息', type: 'string', choose: '--', default: '--' },
								{ query: 'content', info: '提示的主体内容信息', type: 'string', choose: '--', default: '--' },
								{ query: 'trigger', info: '触发方式', type: 'string', choose: 'click / hover', default: 'click' },
								{ query: 'placement', info: '弹出框出现的位置', type: 'string', choose: 'top / bottom', default: 'top' },
							]
						},
						
						{
							name: 'LyDialog Attributes dialog 弹出框',
							childList: [
								{ query: 'title', info: '顶部的提示语信息', type: 'string', choose: '--', default: '--' },
								{ query: 'visible', info: '是否显示弹出层', type: 'string', choose: '--', default: '--' },
								{ query: 'width', info: '弹出框的宽度', type: 'string', choose: '--', default: '375px' },
								{ query: 'showClose', info: '是否显示关闭icon', type: 'boolean', choose: '--', default: 'true' },
								{ query: 'close', info: '关闭的回调函数', type: 'function', choose: '--', default: '--' },
							]
						}
					],
					
				}
			},
		})
	</script>
</html>
